[Desktop Entry]
Version=1.0
Type=Application
Name=Kobo Redux Demo
GenericName=Arcade Game
Comment=Arcade style 2D shooter (Demo version)
TryExec=kobord-demo
Exec=kobord-demo
Icon=koboredux
Terminal=false
Categories=Application;Game;ArcadeGame;2DGraphics;
